<div class="footer-container">
  <footer class="elegant-footer">
    <div class="footer-brand-block">
      <p class="footer-title">Tienda Sana</p>
      <p class="copyright-text">&copy; {{ currentYear }} Tienda Sana. Todos los derechos reservados.</p>
    </div>

    <div class="footer-contact-block" aria-label="Información de contacto">
      <a class="contact-item" href="tel:+573113643613">
        <i class="fa-solid fa-phone"></i>
        <span>311 3643613</span>
      </a>
      <a class="contact-item" href="mailto:tiendasanaaxm&#64;gmail.com">
        <i class="fa-solid fa-envelope"></i>
        <span>tiendasanaaxm&#64;gmail.com</span>
      </a>
      <p class="contact-item contact-item-address">
        <i class="fa-solid fa-location-dot"></i>
        <span>Cl 18A N #15-05, Armenia, Quindio, 630004</span>
      </p>
    </div>

    <div class="footer-social-block">
      <ul class="social-links">
        <li><a class="social-icon" href="https://www.instagram.com/tiendasana/" aria-label="Instagram de Tienda Sana"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a class="social-icon" href="https://www.facebook.com/tiendasana1?locale=es_LA" aria-label="Facebook de Tienda Sana"><i class="fa-brands fa-facebook"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
