<div class="footer-container">
  <footer class="elegant-footer">
    <div class="footer-copyright">
      <span class="copyright-text">&copy; 2025-1 Desarrollado por M</span>
    </div>
    <ul class="social-links">
      <li><a class="social-icon" href="https://s3.ppllstatics.com/elcorreo/www/multimedia/202002/20/media/cortadas/Biggest-Videogame-Trolls-Feature-Image-kGgB-U100214864904QZC-1248x770@El%20Correo.jpg"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li><a class="social-icon" href="https://s3.ppllstatics.com/elcorreo/www/multimedia/202002/20/media/cortadas/Biggest-Videogame-Trolls-Feature-Image-kGgB-U100214864904QZC-1248x770@El%20Correo.jpg"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a class="social-icon" href="https://s3.ppllstatics.com/elcorreo/www/multimedia/202002/20/media/cortadas/Biggest-Videogame-Trolls-Feature-Image-kGgB-U100214864904QZC-1248x770@El%20Correo.jpg"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>
  </footer>