<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 shadow-sm rounded-3 px-4 bg-light-green">
    
    <!-- Logo y título -->
    <div class="d-flex align-items-center">
      <a class="d-inline-flex align-items-center nav-link-custom text-success-emphasis fs-5 text-decoration-none" (click)="llevarIncioSesion()">
        <i class="fa-solid fa-seedling fs-3 me-2"></i>
        <span class="fw-semibold">{{ title }}</span>
      </a>
    </div>

    <!-- Navegación -->
    <ul class="nav mb-2 mb-md-0">
      <li><a class="nav-link px-3 text-success-emphasis fw-medium" (click)="llevarIncioSesion()">Inicio</a></li>
    </ul>

    <!-- Usuario / Login-Registro -->
    <div class="d-flex align-items-center">
      @if(!isLogged) {
        <button type="button" routerLink="/login" class="btn btn-outline-success me-2">Login</button>
        <button type="button" routerLink="/register" class="btn btn-success">Registro</button>
      } @else {
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user-circle fs-5 me-2"></i>
            <span>{{ nombreUsuario }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/user-info">Ver perfil</a></li>
            <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        </div>
      }
    </div>
    
  </header>
</div>
