/* Contenedor principal */
  .card-grid-container {
    padding: 20px;
    
  }
  
  /* Tarjetas individuales */
  .custom-card {
    width: 100%; /* Asegura que las tarjetas ocupen el ancho completo de la columna */
    max-width: 300px; /* Limita el ancho máximo de las tarjetas */
    border: 1px solid #ffffff;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    will-change: transform, box-shadow;
   
    text-align: center;
  }
  
  .custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }
  
  /* Imagen de la tarjeta */
  .custom-card-image {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .custom-card-image:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
  }
  
  /* Título y texto */
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #857e81;
    margin-bottom: 8px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 12px;
  }
  
  /* Precio */
  .card-text.text-success {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Botón personalizado */
  .btn-custom {
    background: linear-gradient(135deg, #198754 0%, #20c997 100%);
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(25, 135, 84, 0.2);
  }
  
  .btn-custom:hover {
    background: linear-gradient(135deg, #157347 0%, #1aa179 100%);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(25, 135, 84, 0.3);
  }
  
  /* Footer de la tarjeta */
  .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 10px;
  }
  
  /* Responsive */
  @media (max-width: 576px) {
    .custom-card-image {
      height: 150px;
    }

    .custom-card {
      max-width: 100%; /* Asegura que las tarjetas ocupen el ancho completo en pantallas pequeñas */
    }
  
    .card-title {
      font-size: 1rem;
    }
  
    .card-text {
      font-size: 0.9rem;
    }
  
    .btn-custom {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  }
  
