<mat-card class="custom-card">
    <mat-card-header class="custom-card-header">
        <mat-card-title>Mesas Reservables</mat-card-title>
        <mat-card-subtitle>Espacios exclusivos para ti</mat-card-subtitle>
    </mat-card-header>

    <!-- Imagen destacada -->
    <img
        mat-card-image
        src="https://firebasestorage.googleapis.com/v0/b/unieventos-images-service.appspot.com/o/a8e3d7d9-1570-42ac-87c2-e651dc9ca09a-gatoimage.png?alt=media&token=cb69e939-b9d6-40a4-b6a6-6964a0c978ee"
        alt="Mesa reservable"
        class="custom-card-image" />

    <mat-card-content>
        <div class="reservation-info">
            <div class="table-detail">
                <span class="icon-wrapper">
                    <mat-icon>people</mat-icon>
                </span>
                <span>4-6 personas</span>
            </div>
            <div class="table-detail">
                <span class="icon-wrapper">
                    <mat-icon>event_available</mat-icon>
                </span>
                <span>Disponible ahora</span>
            </div>
        </div>
        <p>
            ¡Reserva tu mesa y disfruta de una experiencia personalizada!
        </p>
    </mat-card-content>

    <mat-card-actions align="end" class="custom-card-actions">
        <button mat-flat-button class="btn-custom">Reservar</button>
        <button mat-flat-button class="btn-custom-outline">Ver detalles</button>
    </mat-card-actions>
</mat-card>
