<div class="main-container">
  <!-- Contenedor para los círculos decorativos -->
  <div class="decorative-circles">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="line"></div>
  </div>

  <!-- Tarjeta de recuperación -->
  <div class="changePasswordDiv">
    <div class="card-body">
      <form class="p-4 rounded correoRecuperacion" [formGroup]="recoveryForm" (ngSubmit)="sendValidationCode()">
        <!-- Título -->
        <h5 class="card-title text-center mb-3">  Recuperación de Contraseña</h5>
        <p class="text-muted text-center mb-4">
          Ingrese su correo electrónico para recibir un código de verificación.
        </p>

        <!-- Campo de correo con etiqueta flotante -->
        <div class="form-group position-relative mb-4 floating-field">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder=" "
            class="form-control"
            required
          />
          <label for="email" class="form-label">Correo Electrónico</label>
          <i class="fa-solid fa-envelope input-icon"></i>
        </div>

        <!-- Botón de envío -->
        <div class="text-center mb-3">
          <button
            type="submit"
            class="btn btn-custom w-100 custom-button"
            [disabled]="isLoading"
          >
            Enviar Código
          </button>
        </div>

        <!-- Spinner de carga -->
        @if (isLoading) {
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
          </div>
        }
      </form>
    </div>
  </div>
</div>