<div class="main-container">
  <!-- Elementos decorativos -->
  <div class="decorative-circles">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="line"></div>
  </div>

  <!-- Tarjeta de cambio de contraseña -->
  <div class="reset-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()"
      class="reset-password-card">
      <!-- Encabezado -->
      <div class="card-header">
        Cambiar contraseña
      </div>

      <div class="card-body">

        <!-- Campo de correo electrónico -->
        <div class="form-group">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder=" "
            class="form-control"
            required />
          <label for="email" class="form-label">Correo Electrónico</label>
          <i class="fa-solid fa-envelope input-icon"></i>
          <div
            *ngIf="changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched"
            class="error-message">
            Por favor ingrese un correo válido
          </div>
        </div>

        <!-- Campo de código de verificación -->
        <div class="form-group">
          <input
            type="text"
            id="codigoVerificacion"
            formControlName="codigoVerificacion"
            placeholder=" "
            class="form-control"
            required />
          <label for="codigoVerificacion" class="form-label">Código de cambio de
            contraseña</label>
          <i class="fa-solid fa-key input-icon"></i>
          <div
            *ngIf="changePasswordForm.get('codigoVerificacion')?.invalid && changePasswordForm.get('codigoVerificacion')?.touched"
            class="error-message">
            Por favor ingrese el código de verificación
          </div>
        </div>

        <!-- Campo de nueva contraseña -->
        <div class="form-group">
          <input
            type="password"
            id="nuevaContrasenia"
            formControlName="nuevaContrasenia"
            placeholder=" "
            class="form-control"
            required />
          <label for="nuevaContrasenia" class="form-label">Nueva
            Contraseña</label>
          <i class="fa-solid fa-lock input-icon"></i>
          @if (changePasswordForm.get('nuevaContrasenia')?.invalid &&
          changePasswordForm.get('nuevaContrasenia')?.touched) {
          <div class="error-message">
            Por favor ingrese una contraseña
          </div>
          }
        </div>

        <!-- Campo de confirmación de contraseña -->
        <div class="form-group">
          <input
            type="password"
            id="confirmacionContrasenia"
            formControlName="confirmacionContrasenia"
            placeholder=" "
            class="form-control"
            required />
          <label for="confirmacionContrasenia" class="form-label">Confirmar
            Contraseña</label>
          <i class="fa-solid fa-lock input-icon"></i>
          @if (changePasswordForm.get('confirmacionContrasenia')?.invalid &&
          changePasswordForm.get('confirmacionContrasenia')?.touched) {
          <div class="error-message">
            Por favor confirme su contraseña
          </div>
          }
        </div>

        <!-- Alerta de error para contraseñas que no coinciden -->
        @if (changePasswordForm.hasError('passwordsMismatch') &&
        changePasswordForm.get('confirmacionContrasenia')?.touched) {
        <div class="password-mismatch-alert">
          <i class="fa-solid fa-triangle-exclamation alert-icon"></i>
          Las contraseñas no coinciden
        </div>
        }

        <!-- Botón de restablecer -->
        <button
          type="submit"
          class="btn-success"
          [disabled]="changePasswordForm.invalid"
          [ngClass]="{'btn-loading': isLoading}">
          Restablecer
        </button>

        <!-- Botón de Reenviar Código -->
        <button
          type="button"
          class="btn-secondary mt-3"
          [disabled]="isLoading"
          (click)="reenviarCodigo()">
          Reenviar Código de Validación
        </button>

        
      </div>
    </form>
  </div>
</div>