<div class="main-container">
  <!-- Elementos decorativos -->
  <div class="decorative-circles">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="line"></div>
  </div>

  

  <!-- Tarjeta de cambio de contraseña -->
  <div class="reset-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="reset-password-card">
      <!-- Encabezado -->
        <div class="card-header">
          Cambiar contraseña
        </div>
      <div class="card-body">

        <!-- Campo de nueva contraseña -->
        <div class="form-group">
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            placeholder=" "
            class="form-control"
            required
          />
          <label for="newPassword" class="form-label">Nueva Contraseña</label>
          <i class="fa-solid fa-lock input-icon"></i>
          <div class="error-message" *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
            Por favor ingrese una contraseña
          </div>
        </div>

        <!-- Campo de confirmación de contraseña -->
        <div class="form-group">
          <input
            type="password"
            id="passwordConfirmation"
            formControlName="passwordConfirmation"
            placeholder=" "
            class="form-control"
            required
          />
          <label for="passwordConfirmation" class="form-label">Confirmar Contraseña</label>
          <i class="fa-solid fa-lock input-icon"></i>
          <div class="error-message" *ngIf="changePasswordForm.get('passwordConfirmation')?.invalid && changePasswordForm.get('passwordConfirmation')?.touched">
            Por favor confirme su contraseña
          </div>
        </div>

        <!-- Alerta de error para contraseñas que no coinciden -->
        <div *ngIf="changePasswordForm.hasError('passwordsMismatch') && changePasswordForm.get('passwordConfirmation')?.touched" class="password-mismatch-alert">
          <i class="fa-solid fa-triangle-exclamation alert-icon"></i>
          Las contraseñas no coinciden
        </div>

        <!-- Botón de restablecer -->
        <button
          type="submit"
          class="btn-success"
          [disabled]="changePasswordForm.invalid"
          [ngClass]="{'btn-loading': isLoading}"
        >
          Restablecer
        </button>
        
      </div>
    </form>
  </div>
</div>